@using System.Security.Claims;
@model List<BBS.Models.Post>

<link rel="stylesheet" href="~/Post.css">
<h3>Post</h3>

@for (int i = 0; i < ViewBag.NumPost / ViewBag.PostPerPage + 1; i++)
{
    if (ViewBag.NumPost % ViewBag.PostPerPage == 0 && i == ViewBag.NumPost / ViewBag.PostPerPage)
    {
        break;
    }
    <a href="/@(i+1)">@(i + 1)</a>
}
@if (User.Identity!.IsAuthenticated)
{
    <button id="toggleCreatePostBtn">Create Post</button>
    <div id="PostFormWrapper">
        <br />
        <p>Title</p>
        <input id="Title" />
        <div id="CreatePostForm"></div>
        <input id="Tag" />
        <button id="submitPost">Submit</button>
    </div>
}

<div id="PostList">
    @foreach (var item in Model)
    {
        <div class="PostUnit">
            <p>@item.Id</p><p>@item.Replies!.Count() Replies</p>
            <a asp-controller="Post" asp-action="GetPost" asp-route-Id="@item.Id">Title : @item.Title</a>
            @if (User.Identity.IsAuthenticated)
            {
                if (item.Likes.Any(l => l.UserId == Convert.ToInt32(User.FindFirst(ClaimTypes.Sid)?.Value)))
                {
                    <button class="LikeBtn">DeLike</button>
                }
                else
                {
                    <button class="LikeBtn">Like</button>
                }
            }
            <div class="UserInfo">
                <p>@item.UserId</p>
                <a href="/User/@item.UserId">@item.User.Name</a>
                <img src="data:image/png;base64, @item.User.Avatar" width="64" height="64">
            </div>

            <p class="timeIndicator">
                <span>Date Created : @item.Created.ToString("hh:mm yy/MM/dd")</span>
                <span>Date Modified : @item.Modified.ToString("hh:mm yy/MM/dd")</span>
            </p>
        </div>
        <br>
    }
</div>
@for (int i = 0; i < ViewBag.NumPost / ViewBag.PostPerPage + 1; i++)
{
    <a href="/@(i+1)">@(i + 1)</a>
}
<script src="~/Post.js" defer></script>
<script src="~/PostCommon.js" defer></script>