@using BBS.Models;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor;

<link rel="stylesheet" href="~/Post.css">
<h3>Post</h3>
@if (User.Identity.IsAuthenticated)
{
    <br />
    <p>Title</p>
    <input id="Title" />
    <div id="CreatePostForm"></div>
    <button id="submitPost">Submit</button>
}


@foreach (var item in ViewBag.Posts)
{
    <div class="PostUnit">
        <!--<p>Post Id : @item.Id</p>-->
        <a asp-controller="Post" asp-action="GetPost" asp-route-Id="@item.Id">Title : @item.Title</a>
        <p>Content : @item.Content</p>
        <p>UserId : @item.UserId</p>
        <p class="timeIndicator">
            <span>Date Created : @item.Created</span>
            <span>Date Modified : @item.Modified</span>
        </p>
    </div>
    <br>
}
<script src="~/Post.js" defer></script>