@using BBS.Models;
<link rel="stylesheet" href="~/Post.css">
<div id="PostUnit@(ViewBag.Post.Id)">
    <p>Post Id : @ViewBag.Post.Id</p>
    <p>Title : @ViewBag.Post.Title</p>
    <p>Content : @ViewBag.Post.Content</p>
    <p>UserId : @ViewBag.Post.UserId</p>
    <span>Date Created : @ViewBag.Post.CreatedDate</span>
    <span>Date Modified : @ViewBag.Post.ModifiedDate</span>
    </div>