@using BBS.Models;
@model Post;
@using System.Security.Claims;
@{
    string content = $"{Html.Raw(Model.Content)}";
}
@{
}
@{
    string Avatar(string Avatar)
    {
        if (Avatar != null)
        {
            return $"data:image/png;base64, {Avatar}";
        }
        return "/img/defaultAvatar.png";
    }
}

<link rel="stylesheet" href="~/Post.css">
<script src="~/PostDetail.js"></script>
@if (User.Identity!.IsAuthenticated && Model.UserId == Convert.ToInt32(User.FindFirst(ClaimTypes.Sid)?.Value))
{
    <button id="toggleEditPostBtn">edit</button>
    <div id="PostFormWrapper">
        <br />
        <p>Title</p>
        <input id="Title" />
        <div id="EditPostForm"></div>
        <input id="Tag" />
        <button id="submitEditPost">Submit</button>
    </div>
}
<div class="PostUnit">
    <p>@Model.Id</p>
    <p class="Title">@Model.Title</p>
    <div id="PostContent">
        @Html.Raw(Model.Content)
    </div>
    <div class="UserInfo">
        <p>@Model.UserId</p>
        <a href="/User/@Model.UserId">@Model.User.Name</a>
        <img src=@Avatar(Model.User.Avatar) width="64" height="64">
    </div>
    <span>Date Created : @Model.Created</span>
    <span>Date Modified : @Model.Modified</span>
    <p id="Tags">
        @if (Model.PostTags != null)
        {

            @foreach (var item in Model.PostTags)
            {
                <a asp-action="Index" asp-controller="Tag" asp-route-Id="@Convert.ToInt32(item.Tag.Id)">#@item.Tag.Name</a>
            }

        }
    </p>
</div>

<div id="Replies">
    Replies
    @foreach (var item in Model.Replies!)
    {
        <div class="ReplyUnit">
            <p>@item.Content</p>
            <div class="UserInfo">
                <p>@item.User.Id</p>
                <a href="/User/@item.User.Id">@item.User.Name</a>
                <img src=@Avatar(item.User.Avatar) width="64" height="64">
            </div>

            <p class="timeIndicator">
                <span>@item.Created</span>
                <span>@item.Modified</span>
            </p>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Reply" asp-controller="Reply" asp-route-PostId="@Model.Id">
        <input name="Content" placeholder="Content">
        <button type="submit">Reply</button>
    </form>
}



<script src="~/PostCommon.js" defer></script>