@using System.Security.Claims

<!--TODO-->
<!--get friend list of current login user to determine which user has sendable friend req-->
@model BBS.Models.User

<div id="User">
    <div id="Detail">
        <h3 id="Title">@Model.Name's Info:</h3>
        @if (User.Identity!.IsAuthenticated && Model.Id != Convert.ToInt32(User.FindFirst(ClaimTypes.Sid)?.Value) && !ViewBag.isFriend && !ViewBag.isFriendRequestSent)
        {
            <button id="sendFriendRequest">send friend request</button>
        }
        <div id="Id"><span>Id:</span><span>@Model.Id</span></div>
        <span>Name:</span><span id="name">@Model.Name</span>
        <p>Created:@Model.Created.ToLocalTime()</p>
        <p>Posts:@Model.Posts!.Count()</p>
        <p>Replies:@Model.Replies!.Count()</p>
    </div>
    <div id="Avatar">
        <h3>@Model.Name's Avatar</h3>
        <form>
            <div id="Avatars">
                <img src="data:image/png;base64, @Model.Avatar" width="128" height="128">
            </div>
        </form>
    </div>
    <div id="Posts">
        <h3>@Model.Name's Posts</h3>
        @foreach (var item in Model.Posts!)
        {
            <a href="/Post/Detail/@item.Id">@item.Title</a>
        }
    </div>
    <div id="Replies">
        <h3>@Model.Name's Replies</h3>
        @foreach (var item in Model.Replies!)
        {
            <a href="/Post/Detail/@item.PostId">@item.Content</a>
        }
    </div>
</div>