@using System.Security.Claims

<!--TODO-->
<!--get friend list of current login user to determine which user has sendable friend req-->



@model BBS.Models.User
@{
    int i = 0;
    int j = 0;
    string Name = Model.Name!;
}

<link rel="stylesheet" href="~/UserCenter.css">

<div id="User">
    <div id="Detail">
        <h3 id="Title">@Name's Info:</h3>
        @if (User.Identity!.IsAuthenticated && Model.Id != Convert.ToInt32(User.FindFirst(ClaimTypes.Sid)?.Value) && !ViewBag.isFriend && !ViewBag.isFriendRequestSent)
        {
            <a id="sendFriendRequest">send friend request</a>
        }
        <p id="Id">@Model.Id</p>
        <span>Name:</span><span id="name">@Model.Name</span>
        <p>Created:@Model.Created</p>
        <p>Last Login:@Model.LastLogin</p>
        <p>Number of Posts:@foreach (var item in Model.Posts!) { i++; }@i</p>
        <p>Number of Replies:@foreach (var item in Model.Replies!) { j++; }@j</p>
    </div>
    <div id="Avatar">
        <h3>@Name's Avatar</h3>
        <form>
            <div id="Avatars">
                <img src="data:image/png;base64, @Model.Avatar" width="128" height="128">
            </div>
        </form>
    </div>
    <div id="Posts">
        <h3>@Name's Posts</h3>
        @foreach (var item in Model.Posts)
        {
            <p>@item.Id</p>
            <a href="Post/Detail/@item.Id">@item.Title</a>
        }
    </div>
    <div id="Replies">
        <h3>@Name's Replies</h3>
        @foreach (var item in Model.Replies)
        {
            <p>@item.Id</p>
            <a href="Post/Detail/@item.PostId">@item.Content</a>
        }
    </div>
</div>

<script defer>
    document.getElementById("sendFriendRequest").addEventListener("click", (e) => {
        e.preventDefault();
        fetch(`/Friend/@Model.Id`, {
            method: "POST"
        }).then(response => {
            e.target.innerText = "success"
        }).catch(response => {
            e.target.innerText = "fail"
        });
    });
</script>

<script src="~/UserPage.js" defer></script>