@using BBS.Models;

@foreach(var item in Model)
{
    <div class="PostUnit">
        <a asp-controller="Post" asp-action="GetPost" asp-route-Id="@item.Post.Id">Title : @item.Post.Title</a>
        <p>UserId : @item.Post.UserId</p>
        <p class="timeIndicator">
            <span>Date Created : @item.Post.Created.ToString("hh:mm yy/MM/dd")</span>
            <span>Date Modified : @item.Post.Modified.ToString("hh:mm yy/MM/dd")</span>
        </p>
    </div>
    <br>

}